
CREATE DATABASE [SpringBootShop]
 CONTAINMENT = NONE
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SpringBootShop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SpringBootShop]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 13/09/2026 3:46:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](255) NULL,
	[images] [nvarchar](255) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 13/09/2026 3:46:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [varchar](10) NOT NULL,
	[created_at] [datetime2](7) NULL,
	[description] [nvarchar](255) NULL,
	[images] [nvarchar](255) NULL,
	[price] [float] NULL,
	[product_name] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[sold] [int] NOT NULL,
	[category_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 13/09/2026 3:46:37 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[avatar] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NULL,
	[email] [nvarchar](255) NOT NULL,
	[fullname] [nvarchar](255) NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[role] [varchar](255) NOT NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name], [images], [status]) VALUES (1, N'MALE', N'categories/1789211582352_male-icon.png', 0)
INSERT [dbo].[categories] ([category_id], [category_name], [images], [status]) VALUES (2, N'FEMALE', N'categories/1789212223097_female-icon.png', 0)
INSERT [dbo].[categories] ([category_id], [category_name], [images], [status]) VALUES (3, N'ACCESSORIES', N'categories/1789212237731_accessories-icon.png', 0)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
INSERT [dbo].[products] ([product_id], [created_at], [description], [images], [price], [product_name], [quantity], [sold], [category_id]) VALUES (N'SP01', CAST(N'2026-09-12T18:33:41.2900000' AS DateTime2), N'CHẤT LIỆU 64% COTTON 36% TENCEL ĐỊNH LƯỢNG 180GSM

FORM BOXY 

HÌNH IN LOGO KÉO LỤA TRƯỚC NGỰC', N'products/1788242562163_triple_striped_tee.png', 400000, N'TRIPLE STRIPED T-SHIRT - BLUE', 62, 587, 1)
INSERT [dbo].[products] ([product_id], [created_at], [description], [images], [price], [product_name], [quantity], [sold], [category_id]) VALUES (N'SP02', CAST(N'2026-09-12T18:33:41.2900000' AS DateTime2), N'CHẤT LIỆU 64% COTTON 36% TENCEL ĐỊNH LƯỢNG 180GSM

FORM BOXY 

HÌNH IN LOGO KÉO LỤA TRƯỚC NGỰC', N'products/1788242802583_pink_triple_striped_tee.png', 400000, N'TRIPLE STRIPED T-SHIRT - PINK', 74, 641, 1)
INSERT [dbo].[products] ([product_id], [created_at], [description], [images], [price], [product_name], [quantity], [sold], [category_id]) VALUES (N'SP03', CAST(N'2026-09-12T18:33:41.2900000' AS DateTime2), N'CHẤT LIỆU COTTON XƯỢC ĐỊNH LƯỢNG 170GSM

FORM REGULAR FIT

HÌNH IN KÉO LỤA TRƯỚC NGỰC', N'products/1788242888567_regularfit01.png', 400000, N'HEART REGULAR FIT T-SHIRT', 95, 512, 2)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [avatar], [created_at], [email], [fullname], [password], [phone], [role], [status]) VALUES (1, NULL, CAST(N'2026-09-12T19:48:27.0157173' AS DateTime2), N'admin@shop.com', N'Quản trị viên', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', NULL, N'admin', 1)
INSERT [dbo].[users] ([user_id], [avatar], [created_at], [email], [fullname], [password], [phone], [role], [status]) VALUES (2, NULL, CAST(N'2026-09-13T09:00:24.1680803' AS DateTime2), N'tranthiphuongtrang2711@gmail.com', N'Phương Trang', N'50153bf4e63ec7129aadd65124c25c9ebdcdd5bcc936237b94d1609159b10e5a', NULL, N'user', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK6dotkott2kjsp8vw4d0m25fb7]    Script Date: 13/09/2026 3:46:37 pm ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UK6dotkott2kjsp8vw4d0m25fb7] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [sold]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
USE [master]
GO
